body {
background-color: white;
font-family: "Open Sans", sans-serif;
padding: 5px 25px;
font-size: 25px;
margin: 0;
color: #444;
}
h1{
font-family: "Merryweather", serif;
font-size: 100px;
}
h2{
font-family: "Merryweather" serif;
font-size: 50px;
}
. fond bleuclair {
background-color: lightblue;
rouge-gras {
color: red;
font-weight: bold;
}
